# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [302]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os


# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [303]:
#look into binning
#Check all the column names
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [304]:
#totoal schools
the_school_names = school_data_complete_df['school_name'].unique()

school_count = len(the_school_names)

In [327]:
#total students
total_students = school_data_complete_df['student_name'].count()
total_students

39170

In [306]:
#I can't fingure why my budget isn't the same as exmaple!!
total_budget = school_data_complete_df['budget'].sum()

#total_budget = school_data_complete_df.groupby.('the_school_names')[school_count].sum()
#school_data_complete_df.groupby('school_name')['budget'].unique()
#school_data_complete_df.groupby('school_name')['School ID'].apply(lambda x: x.count())
#total_budget= school_data_complete_df['budget'].sum
total_budget

82932329558

In [307]:
#Passing:
pass_reading = school_data_complete_df.loc[school_data_complete_df['reading_score'] >= 65]['reading_score'].count()
pass_reading_percent = pass_reading/total_students

pass_math = school_data_complete_df.loc[school_data_complete_df['math_score'] >= 65]['math_score'].count()
pass_math_percent = pass_math/total_students


#pass_math_percent
#pass_reading_percent

In [308]:
#averages
avgerage_math_score = school_data_complete_df['math_score'].mean()

avgerage_reading_score = school_data_complete_df['reading_score'].mean()

In [309]:
#Overall
general_pass = school_data_complete_df[(school_data_complete_df['math_score'] >= 65) & (school_data_complete_df['reading_score'] >= 65)]['student_name'].count()/total_students

In [310]:
Schools_Analysis_summary = pd.DataFrame({
    
    "Total Schools": [school_count],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Reading Score": [avgerage_reading_score],
    "Average Math Score": [avgerage_math_score],
    "% Passing Reading":[pass_reading_percent],
    "% Passing Math": [pass_math_percent],
    "Overall Passing Rate": [general_pass]

})


Schools_Analysis_summary.style.format({"Total Budget": "${:,.2f}", 
                       "Average Reading Score": "{:.1f}", 
                       "Average Math Score": "{:.1f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "Overall Passing Rate": "{:.1%}"})

In [311]:
Schools_Analysis_summary.dtypes

Total Schools              int64
Total Students             int64
Total Budget               int64
Average Reading Score    float64
Average Math Score       float64
% Passing Reading        float64
% Passing Math           float64
Overall Passing Rate     float64
dtype: object

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [312]:
#group by school

group_by_school = school_data_complete_df.set_index('school_name').groupby(['school_name'])

In [313]:
#school types
school_types = school_data_complete_df.set_index('school_name')['type']

# total students by school
students_per_school = group_by_school['Student ID'].count()

In [314]:
school_budget = school_data_complete_df.set_index('school_name')['budget']
student_budget = school_data_complete_df.set_index('school_name')['budget']/school_data_complete_df.set_index('school_name')['size']

In [315]:
#avg scores by school
average_math_by_school = group_by_school['math_score'].mean()
average_reading_by_school = group_by_school['reading_score'].mean()

In [324]:
# % passing scores
pass_math_by_school = school_data_complete_df[school_data_complete_df['math_score'] >= 65].groupby('school_name')['Student ID'].count()/students_per_school 
pass_reading_by_school = school_data_complete_df[school_data_complete_df['reading_score'] >= 65].groupby('school_name')['Student ID'].count()/students_per_school 
general_by_school = school_data_complete_df[(school_data_complete_df['reading_score'] >= 65) & (school_data_complete_df['math_score'] >= 65)].groupby('school_name')['Student ID'].count()/students_per_school 

general_by_school

school_name
Bailey High School       0.737540
Cabrera High School      1.000000
Figueroa High School     0.728383
Ford High School         0.735670
Griffin High School      1.000000
Hernandez High School    0.735491
Holden High School       1.000000
Huang High School        0.732602
Johnson High School      0.737450
Pena High School         1.000000
Rodriguez High School    0.736184
Shelton High School      1.000000
Thomas High School       1.000000
Wilson High School       1.000000
Wright High School       1.000000
Name: Student ID, dtype: float64

In [323]:
school_general_summary = pd.DataFrame({
    "School Type": [school_types],
    "Total Students": [students_per_school],
    "Per Student Budget": [student_budget],
    "Total School Budget": [school_budget],
    "Average Math Score": [average_math_by_school],
    "Average Reading Score": [average_reading_by_school],
    '% Passing Math': [pass_math_by_school],
    '% Passing Reading': [pass_reading_by_school],
    "Overall Passing Rate": [general_by_school]
})

school_general_summary.head()
#check each on its own

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,school_name Huang High School District Hua...,school_name Bailey High School 4976 Cabr...,school_name Huang High School 655.0 Huang ...,school_name Huang High School 1910635 Huan...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 0.779140 ...,school_name Bailey High School 0.945539 ...,school_name Bailey High School 0.737540 ...

In [318]:


school_types_summary = school_general_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]


school_types_summary.dtypes

School Type              object
Total Students           object
Total School Budget      object
Per Student Budget       object
Average Math Score       object
Average Reading Score    object
% Passing Math           object
% Passing Reading        object
Overall Passing Rate     object
dtype: object

In [322]:
#formatting
#FIX
#school_types_summary.students_per_school= pd.to_numeric(school_types_summary['students_per_school'], errors='coerce')
#school_types_summary.convert_objects(convert_numeric=True).dtypes
#school_types_summary.style.format({"students_per_school": lambda x: "{:.2f}".format(abs(x))})
#school_types_summary['Total Students'] = school_types_summary['Total Students'].replace('?', " ")
#school_types_summary['Total Students'] = school_types_summary['Total Students'].astype(float)
#school_types_summary.students_per_school = school_types_summary.students_per_school.astype('float')
#school_types_summary[students_per_school] = pd.to_numeric("avgerage_reading_score")

ValueError: Unable to parse string "avgerage_reading_score" at position 0

In [296]:
school_types_summary.style.format=({ "Total Students": "{:,},Total School Budget": "${:,.2f}", 
                          "Per Student Budget": "${:.0f}",
                          "Average Math Score": "{:.1f}", 
                          "Average Reading Score": "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

SyntaxError: invalid syntax (<ipython-input-296-822e4832b79f>, line 1)

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [297]:
top_5 = school_types_summary.sort_values("Overall Passing Rate", ascending = False)
top_5.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

TypeError: unsupported format string passed to Series.__format__

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [300]:
#creates grade level average math scores for each school 
ninth_math = school_data_complete_df.loc[school_data_complete_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = school_data_complete_df.loc[school_data_complete_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = school_data_complete_df.loc[school_data_complete_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = school_data_complete_df.loc[school_data_complete_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

#show and format
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [301]:
#creates grade level average reading scores for each school
ninth_reading = school_data_complete_df.loc[school_data_complete_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = school_data_complete_df.loc[school_data_complete_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = school_data_complete_df.loc[school_data_complete_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = school_data_complete_df.loc[school_data_complete_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

#format
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [18]:
# create spending bins
bins = [0, 584.999, 614.999, 644.999, 999999]
group_name = ['< $585', "$585 - 614", "$615 - 644", "> $644"]
merged_df['spending_bins'] = pd.cut(merged_df['budget']/merged_df['size'], bins, labels = group_name)

#group by spending
by_spending = merged_df.groupby('spending_bins')

#calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

            
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

#formating
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [19]:
# create size bins
bins = [0, 999, 1999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (>2000)"]
merged_df['size_bins'] = pd.cut(merged_df['size'], bins, labels = group_name)

#group by spending
by_size = merged_df.groupby('size_bins')

#calculations 
avg_math = by_size['math_score'].mean()
avg_read = by_size['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

            
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

#formating
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [20]:
# group by type of school
by_type = merged_df.groupby("type")

#calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# df build            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
#reorder columns
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"


#formating
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757