# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os


# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#look into binning
#Check all the column names
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [3]:
#totoal schools
total_schools = school_data_complete_df['school_name'].unique()
school_count = len(total_schools)
school_count

15

In [4]:
#total students
total_students = school_data_complete_df['Student ID'].count()
total_students

39170

In [5]:
#I can't fingure why my budget isn't the same as exmaple!
total_budget = school_data['budget'].sum()
total_budget

24649428

In [6]:
#Passing:
avgerage_reading_score = school_data_complete_df['reading_score'].mean()
pass_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
pass_reading_percent = pass_reading_count / total_students * 100

In [7]:

avgerage_math_score = school_data_complete_df['math_score'].mean()
pass_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
pass_math_percent = pass_math_count / total_students * 100


#avgerage_math_score
#pass_math_count
#pass_reading_percent
#pass_math_percent

In [8]:
#Overall pass, i made pass grade 65
general_pass = (pass_math_percent+pass_reading_percent)/2
#general_pass

In [9]:
Schools_Analysis_summary = pd.DataFrame({
    "Total Schools":[school_count],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Reading Score": [avgerage_reading_score],
    "Average Math Score": [avgerage_math_score],
    "% Passing Reading":[pass_reading_percent],
    "% Passing Math": [pass_math_percent],
    "Overall Passing Rate": [general_pass]

})



Schools_Analysis_summary.head()

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,39170,24649428,81.87784,78.985371,85.805463,74.980853,80.393158

In [10]:
Schools_Analysis_summary.dtypes

Total Schools              int64
Total Students             int64
Total Budget               int64
Average Reading Score    float64
Average Math Score       float64
% Passing Reading        float64
% Passing Math           float64
Overall Passing Rate     float64
dtype: object

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [11]:
#school types
school_types = school_data.set_index('school_name')['type']

# total students by school
students_per_school = school_data_complete_df['school_name'].value_counts()
#school_types.head()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [12]:
school_budget = school_data_complete_df.groupby(['school_name']).mean()['budget']
student_budget = school_budget/students_per_school
#school_count
student_budget.head()

Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [13]:
#avg scores by school
average_math_by_school = school_data_complete_df['math_score'].mean()
average_reading_by_school = school_data_complete_df['reading_score'].mean()

In [14]:
# % passing scores
pass_math_by_school = school_data_complete_df[school_data_complete_df['math_score'] >= 65].groupby('school_name')['Student ID'].count()/students_per_school *100
pass_reading_by_school = school_data_complete_df[school_data_complete_df['reading_score'] >= 65].groupby('school_name')['Student ID'].count()/students_per_school *100
general_by_school = school_data_complete_df[(school_data_complete_df['reading_score'] >= 65) & (school_data_complete_df['math_score'] >= 65)].groupby('school_name')['Student ID'].count()/students_per_school *100

#pass_math_by_school
#pass_reading_by_school
#general_by_school

In [15]:

school_general_summary = pd.DataFrame({
    "School Type":school_types,
    "Total Students":students_per_school,
    "Total School Budget":school_budget,
    "Per Student Budget":student_budget,
    "Average Math Score":average_math_by_school,
    "Average Reading Score":average_reading_by_school,
    '% Passing Math':pass_math_by_school,
    '% Passing Reading':pass_reading_by_school,
    "%Overall Passing Rate":general_by_school})


#school_general_summary = school_general_summary.loc[~school_general_summary.index.duplicated(keep='first')]
#school_general_summary.set_index([pd.Index([]),'School Type'])
#df.reset_index(drop=True)
#school_general_summary.head()
#data = pd.concat([data_train,data_test], ignore_index=True)


school_general_summary = school_general_summary[["School Type",
                                                 "Total Students",
                                                 "Total School Budget",
                                                 "Per Student Budget",
                                                 "Average Math Score",
                                                 "Average Reading Score",
                                                 "% Passing Math",
                                                 "% Passing Reading",
                                                 "%Overall Passing Rate"]]

school_general_summary["Total Students"] = school_general_summary["Total Students"].map("${:,.2f}".format)
school_general_summary["Total School Budget"] = school_general_summary["Total School Budget"].map("${:,.2f}".format)

school_general_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
Bailey High School,District,"$4,976.00","$3,124,928.00",628.0,78.985371,81.87784,77.913987,94.553859,73.754019
Cabrera High School,Charter,"$1,858.00","$1,081,356.00",582.0,78.985371,81.87784,100.000000,100.000000,100.000000
Figueroa High School,District,"$2,949.00","$1,884,411.00",639.0,78.985371,81.87784,77.178705,94.540522,72.838250
Ford High School,District,"$2,739.00","$1,763,916.00",644.0,78.985371,81.87784,78.203724,93.866375,73.566995
Griffin High School,Charter,"$1,468.00","$917,500.00",625.0,78.985371,81.87784,100.000000,100.000000,100.000000

## Top Performing Schools (By Passing Rate)

In [16]:
# Top five schools
top_performing_schools = school_general_summary.sort_values(["%Overall Passing Rate"], ascending=False)
top_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
Cabrera High School,Charter,"$1,858.00","$1,081,356.00",582.0,78.985371,81.87784,100.0,100.0,100.0
Griffin High School,Charter,"$1,468.00","$917,500.00",625.0,78.985371,81.87784,100.0,100.0,100.0
Holden High School,Charter,$427.00,"$248,087.00",581.0,78.985371,81.87784,100.0,100.0,100.0
Pena High School,Charter,$962.00,"$585,858.00",609.0,78.985371,81.87784,100.0,100.0,100.0
Shelton High School,Charter,"$1,761.00","$1,056,600.00",600.0,78.985371,81.87784,100.0,100.0,100.0

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [17]:
# Bottom five schools
bottom_schools = school_general_summary.sort_values(["%Overall Passing Rate"], ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,%Overall Passing Rate
Figueroa High School,District,"$2,949.00","$1,884,411.00",639.0,78.985371,81.87784,77.178705,94.540522,72.838250
Huang High School,District,"$2,917.00","$1,910,635.00",655.0,78.985371,81.87784,77.716832,94.480631,73.260199
Hernandez High School,District,"$4,635.00","$3,022,020.00",652.0,78.985371,81.87784,77.734628,94.606257,73.549083
Ford High School,District,"$2,739.00","$1,763,916.00",644.0,78.985371,81.87784,78.203724,93.866375,73.566995
Rodriguez High School,District,"$3,999.00","$2,547,363.00",637.0,78.985371,81.87784,77.944486,94.623656,73.618405

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [18]:
#creates grade level average math scores for each school 
ninth_math = school_data_complete_df.loc[school_data_complete_df['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = school_data_complete_df.loc[school_data_complete_df['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = school_data_complete_df.loc[school_data_complete_df['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = school_data_complete_df.loc[school_data_complete_df['grade'] == '12th'].groupby('school_name')["math_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

#show and format
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [19]:
#creates grade level average reading scores for each school
ninth_reading = school_data_complete_df.loc[school_data_complete_df['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = school_data_complete_df.loc[school_data_complete_df['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = school_data_complete_df.loc[school_data_complete_df['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = school_data_complete_df.loc[school_data_complete_df['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

#merges the reading score averages by school and grade together
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

#format
reading_scores.style.format({'9th': '{:.1f}', 
                             "10th": '{:.1f}', 
                             "11th": "{:.1f}", 
                             "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [20]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
#catagorize 
school_general_summary["spending ranges per student"] = pd.cut(student_budget, spending_bins, labels = group_names)
#school_general_summary.head

In [21]:
#I can figure out why i get the below result! as well as the results in the next cell
avg_spending_math_scores = school_general_summary.groupby(["spending ranges per student"]).mean()["Average Math Score"]
avg_spending_math_scores

spending ranges per student
<$585       78.985371
$585-615    78.985371
$615-645    78.985371
$645-675    78.985371
Name: Average Math Score, dtype: float64

In [22]:
#calculations

avg_spending_math_scores = school_general_summary.groupby(["spending ranges per student"]).mean()["Average Math Score"]
avg_spending_reading_scores = school_general_summary.groupby(["spending ranges per student"]).mean()["Average Reading Score"]
avg_spending_passing_math = school_general_summary.groupby(["spending ranges per student"]).mean()["% Passing Math"]
avg_spending_passing_reading = school_general_summary.groupby(["spending ranges per student"]).mean()["% Passing Reading"]
overall_passing_rate = (avg_spending_passing_math + avg_spending_passing_reading) / 2

            
# df           
all_scores_by_spending = pd.DataFrame({
    "Average Math Score": avg_spending_math_scores,
    "Average Reading Score": avg_spending_reading_scores,
    '% Passing Math':avg_spending_passing_math,
    '% Passing Reading': avg_spending_passing_reading,
    "Overall Passing Rate": overall_passing_rate
            
})
            
#reorder columns
all_scores_by_spending = all_scores_by_spending[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

#all_scores_by_spending.index.name = "Per Student Budget"
#all_scores_by_spending = all_scores_by_spending.reindex(group_name)

#formating
all_scores_by_spending.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})
all_scores_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
spending ranges per student,,,,,
<$585,78.985371,81.87784,100.000000,100.000000,100.000000
$585-615,78.985371,81.87784,100.000000,100.000000,100.000000
$615-645,78.985371,81.87784,85.206817,96.264069,90.735443
$645-675,78.985371,81.87784,77.806091,94.520946,86.163519

## Scores by School Size

* Perform the same operations as above, based on school size.
From here on down I had problems with binning which effect the rest of my results

In [35]:
# create size bins
# I dont know what I'm doing wrong to get that error!
bins = [0, 1000, 2000, 5000]
group_name = ["Small (0-1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
school_general_summary['School Size'] = pd.cut(school_general_summary["Total Students"], bins, labels = group_name)

ValueError: Input array must be 1 dimensional

In [31]:

#calculations 
avg_math = school_general_summary.groupby(["School Size"]).mean()['math_score']
avg_read = school_general_summary.groupby(["School Size"]).mean()['reading_score']
pass_math =school_general_summary.groupby(["School Size"]).mean()["% Passing Math"]
pass_read = school_general_summary.groupby(["School Size"]).mean()["% Passing Reading"]
overall = (pass_read+pass_math)/2

            
# df build            
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})
            
#reorder columns
scores_by_size = scores_by_size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

#scores_by_size.index.name = "Total Students"
#scores_by_size = scores_by_size.reindex(group_name)

KeyError: 'School Size'

## Scores by School Type

* Perform the same operations as above, based on school type.

In [38]:
bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_general_summary["School Size"] = pd.cut(school_general_summary["Total Students"], bins, labels=group_names)

TypeError: '<' not supported between instances of 'int' and 'str'

In [41]:
# group by type of school
by_type = school_general_summary.groupby(school_types)

#calculations 

avg_math = school_general_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
avg_read = school_general_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
pass_math = school_general_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
pass_read = school_general_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall = (spending_passing_math + spending_passing_reading) / 2

# df build            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
#reorder columns
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
#scores_by_type.index.name = "Type of School"

KeyError: 'Spending Ranges (Per Student)'